<!-- Sidebar -->
<div class="sidebar min-h-[140vh] flex flex-col justify-between items-center h-screen bg-[#271E4A] bg-opacity-5 w-44 py-12">
    <div class="flex flex-col justify-center items-center gap-16">
        <div class="flex flex-col justify-center items-center gap-1 w-full">
            <div class="w-14 h-14 rounded-full overflow-hidden">
                <img src="assets/profile-pic.jpg" alt="" class="w-full h-full object-cover object-top">
            </div>
            <h5 class="text-xs text-center font-normal">Sarah Smith</h5>
            <p class="text-xs font-normal">ADMIN</p>
        </div>

        <div class="flex flex-col justify-center items-center gap-9">
            <a routerLink="/dashboard/home" routerLinkActive="active shadow-lg">
                <img src="assets/icons/dashboard-icon.png" alt="" class="w-6 h-auto">
            </a>

            <a routerLink="/dashboard/appointment" routerLinkActive="active shadow-lg">
                <img src="assets/icons/appointment.png" alt="" class="w-6 h-auto">
            </a>

            <a routerLink="/dashboard/forms" routerLinkActive="active shadow-lg">
                <img src="assets/icons/security-payment.png" alt="" class="w-7 h-auto">
            </a>

            <a routerLink="/dashboard/settings" routerLinkActive="active shadow-lg">
                <img src="assets/icons/setting-lines.png" alt="" class="w-6 h-auto">
            </a>
        </div>
    </div>

    <a href="">
        <img src="assets/icons/power.png" alt="" class="w-6 h-auto">
    </a>
   
</div>